@model ProductModel
<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="@Model.Image" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <p class="card-text">@Model.Comment</p>
       
        @if (@Model.Discount > 0)
        {
            <span class="text-decoration-line-through">@Model.Price€</span>
            <span class="text-danger m-2">@(Model.Price * Model.Discount / 100)€</span>
        }
        else
        {
            <span>@Model.Price€</span>
        }
    </div>
</div>
